<h1>
  <%= [t('.hello'), @invitee&.display_name.presence].compact.join(' ') %>,
</h1>

<p>
  <%= t('.invite_paragraph', inviter: @inviter.display_name, account_name: @account_share_invite.account.display_name) %>
</p>

<p>
  <%= link_to t('.view_invite_link'), accounts_url %>
  <br />
  <%= accounts_url %>
</p>

<% unless @invitee %>
  <p>
    <strong>
      <%= t('.new_account_paragraph')%>
    </strong>
  </p>

  <p>
    <%= link_to t('.sign_up_link'), sign_up_url %>
    <br />
    <%= sign_up_url %>
  </p>
<% end %>
