<!DOCTYPE html>
<html>
  <head>
    <title>Finance Micromanager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag(:meta, name: 'locale', content: I18n.locale) %>
    <%= tag(:meta, name: 'locale-file-path', content: asset_path("locales/#{I18n.locale}.json")) %>
    <%= tag(:meta, name: 'version', content: Version.version) %>
    <%= tag(:meta, name: 'deploy-timestamp', content: Version.deploy_timestamp) %>

    <link rel="icon" href="<%= vite_asset_url('images/favicon/favicon.ico') %>" sizes="32x32">
    <link rel="icon" href="<%= vite_asset_url('images/favicon/favicon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= vite_asset_url('images/favicon/apple-touch-icon.png') %>">
    <link rel="manifest" href="<%= vite_asset_url('images/manifest.webmanifest') %>">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.js' %>
    <%= vite_stylesheet_tag 'application.scss' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
