<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title><%= t('views.app_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= t('views.app_description') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag(:meta, name: 'locale', content: I18n.locale) %>
    <%= tag(:meta, name: 'locale-file-path', content: asset_path("locales/#{I18n.locale}.json")) %>
    <%= tag(:meta, name: 'version', content: Version.version) %>
    <%= tag(:meta, name: 'deploy-timestamp', content: Version.deploy_timestamp) %>
    <%= tag(:meta, name: 'browser-cache-updated-at-values', content: latest_updated_at_values) %>

    <link rel="icon" href="<%= vite_asset_url('images/favicon/favicon.ico') %>" sizes="32x32">
    <link rel="icon" href="<%= vite_asset_url('images/favicon/favicon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= vite_asset_url('images/favicon/apple-touch-icon.png') %>">
    <link rel="mask-icon" href="<%= vite_asset_url('images/favicon/favicon.svg') %>" color="#EEEEFF">
    <meta name="theme-color" content="#40EA80">

    <link rel="manifest" href="/manifest.json" type="application/manifest+json">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.js' %>
    <%= vite_stylesheet_tag 'application.scss' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
